<div>
  <div class="h-20 w-20">
    <%= image_tag("logo_MP.png") %>
  </div>
  <h1 class="title text-center">
    <span class="font-light">MAXIME</span>
    <span class="font-bold -ml-4">PLASSE</span>
  </h1>
</div>
